{% extends 'ticketswatcher/base_app.html' %}

{% block body %}
    <v-card style="min-height: 100vh; background-color: #f6f6f6">
        <v-layout style="height: 100%">
            <!-- <v-system-bar color="deep-purple darken-3"></v-system-bar> -->
            <app-bar title="{% block title %}page_title{% endblock %}"></app-bar>
            <v-main>
                <v-card-text style="height: 100%; max-width: 1000px; margin: 0 auto; background-color: #fff">
                    {% block content %}<h1>Hello, world!</h1>{% endblock %}
                </v-card-text>
            </v-main>
        </v-layout>
    </v-card>
{% endblock %}