{% extends "ticketswatcher/base_app.html" %}
{% load variable %}

{% block title %}{{ concert.title }}{% endblock %}

{% block variables %}
{{ ticket_reduction_types | variable:"ticketReductionTypes" }}
{{ ticket_categories | variable:"ticketCategories" }}
{% endblock %}

{% block body %}

    <div>
        {#        <div class="py-5">#}
        {#            <h2>#}
        {#                <a class="btn btn-outline-secondary" role="button" href="/">#}
        {#                    <i class="bi bi-arrow-left"></i>Back#}
        {#                </a>#}
        {#                {{ concert.title }}#}
        {#            </h2>#}
        {#        </div>#}


        {% if watcher_status == "success" %}
            <div class="alert alert-success alert-dismissible fade show"
                 role="alert">
                Watcher set for <strong>{{ watcher.email }}</strong>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="alert"
                        aria-label="Close"></button>
            </div>
        {% elif watcher_status == "error" %}
            <div class="alert alert-danger alert-dismissible fade show"
                 role="alert">
                Something went wrong setting the watcher!
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="alert"
                        aria-label="Close"></button>
            </div>
        {% endif %}

        <table class="table">
            <tbody>
            <tr>
                <td style="width: 50px"><i class="bi bi-clock-fill"></i></td>
                <td>
                    <formatted-date date="{{ concert.datetime | date:'Y-m-d H:i:s' }}"></formatted-date>
                </td>
            </tr>
            <tr>
                <td><i class="bi bi-geo-alt-fill"></i></td>
                <td>{{ concert.venue }}</td>
            </tr>
            <tr>
                <td><i class="bi bi-list"></i></td>
                <td>{{ concert.details | linebreaks }}</td>
            </tr>
            </tbody>
        </table>

        {% if concert.url %}
            <v-btn
                    class="mx-2"
                    href="{{ concert.url }}"
                    target="_blank"
                    color="primary"
                    prepend-icon="mdi-information-outline"
            >More info
            </v-btn>
        {% endif %}
        {% if concert.ticket_url %}
            <v-btn class="mx-2"
                   href="{{ concert.ticket_url }}"
                   target="_blank"
                   color="primary"
                   prepend-icon="mdi-ticket-outline">Buy ticket
            </v-btn>
        {% endif %}
        {% if tickets %}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">Price</th>
                    <th scope="col">Name</th>
                    <th scope="col">Available</th>
                </tr>
                </thead>
                <tbody>
                {% for ticket in tickets %}
                    <tr>
                        <td>
                            <div style="width: 18px; height: 18px; background-color: {{ ticket.color }};"></div>
                        </td>
                        <td>{{ ticket.category }}</td>
                        <td>{{ ticket.price }} €</td>
                        <td>{{ ticket.name }}</td>
                        <td>{{ ticket.available }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <br><br>
            <h4>
                No tickets available
            </h4>
            <p>
                You can get notified when tickets become available by subscribing below.
            </p>
            <br>
        {% endif %}

        <div style="max-width: 400px">
            <h3>Watch for tickets</h3>
            <form action="{% url 'watch' concert.id %}"
                  method="post">
                {% csrf_token %}
                <input type="hidden"
                       name="concert_id"
                       value="{{ concert.id }}">

                <v-text-field
                    prepend-inner-icon="mdi-at"
                    name="email"
                    type="text"
                    label="Email address"
                    placeholder="your@email.com"
                ></v-text-field>

                <v-text-field
                    prepend-inner-icon="mdi-currency-eur"
                    name="max_price"
                    type="number"
                    label="maximum price"
                    placeholder="(empty for none)"
                ></v-text-field>

                <v-text-field
                    prepend-inner-icon="mdi-numeric"
                    name="num_tickets"
                    type="number"
                    label="number of tickets"
                    placeholder="(empty for none)"
                ></v-text-field>

{#                {% if ticket_categories %}#}
{#                    <h6><b>Ticket categories (check none for all):</b></h6>#}
{##}
{#                    <v-select#}
{#                        multiple#}
{#                        chips#}
{#                        :items="window.ticketCategories"#}
{#                        item-title="category"#}
{#                        item-value="category"#}
{#                        name="ticket_categories"#}
{#                        placeholder="(all selected)"#}
{#                    ></v-select>#}
{#                {% endif %}#}

                {% if ticket_reduction_types %}
                    <v-select
                        multiple
                        chips
                        :items="window.ticketReductionTypes"
                        item-title="reduction_type__name"
                        item-value="reduction_type__id"
                        name="ticket_reduction_types"
                        label="Ticket reductions"
                        placeholder="(all selected)"
                    ></v-select>
                {% endif %}

                <v-btn type="submit" color="primary">Watch</v-btn>
            </form>
        </div>
    </div>
{% endblock %}