{% extends "ticketswatcher/base.html" %}

{% block title %}Watchers{% endblock %}

{% block content %}
    <div class="py-5">
        <h2>Watchers</h2>
    </div>

    <form>
        <v-row>
            <v-text-field
                    clearable
                    label="Email"
                    prepend-inner-icon="mdi-at"
                    variant="solo"
                    name="email"
                    type="email"
                    placeholder="{{ email | default_if_none:"" }}"
            >
                <template v-slot:append>
                    <v-btn
                            type="submit"
                            color="primary"
                    >Show
                    </v-btn>
                </template>
            </v-text-field>
        </v-row>
    </form>

    <div class="py-2">
        {% if email %}
            <h5><b>Watchers for {{ email }}:</b></h5>
        {% else %}
            Enter your email above!
        {% endif %}
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Concert</th>
            <th>Date & location</th>
            <th>min tickets</th>
            <th>max price</th>
            <th>ticket categories</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for watcher in watchers %}
            <tr>
                <td><b> {{ watcher.concert.title }}</b></td>
                <td>
                    <i class="bi bi-clock-fill"></i> {{ watcher.concert.datestr }}<br>
                    <i class="bi bi-geo-alt-fill"></i> {{ watcher.concert.venue }}
                </td>
                <td>
                    <i class="bi bi-123"></i> {{ watcher.show_num }}<br>
                </td>
                <td>
                    <i class="bi bi-currency-euro"></i> {{ watcher.show_price }}<br></td>
                <td>
                    <i class="bi bi-tag"></i> {{ watcher.show_types }}<br>
                </td>
                <td>
                    <a href="/concert/{{ watcher.concert.id }}"
                       class="btn btn-outline-secondary"
                       role="button">
                        <i class="bi bi-box-arrow-up-right"></i>&nbsp;Show
                    </a>&nbsp;<a href="/deleteWatcher/{{ watcher.uuid }}"
                                 class="btn btn-outline-secondary"
                                 role="button">
                    <i class="bi bi-trash3-fill"></i>&nbsp;Delete
                </a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="6">No watchers for
                    {{ email }}
                <td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
